[phases.setup]
nixPkgs = ["nodejs", "npm"]

[phases.install]
cmds = ["npm install"]

[phases.build]
cmds = ["chmod +x node_modules/.bin/tsc", "chmod +x node_modules/.bin/vite", "npm run build"]

[start]
cmd = "npm run start"